*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
ul,
ol {
  list-style: none;
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas:
      "mh mh"
      "nb ca"
      "sf sf";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 40px auto;
    height: 100dvh;
    width: 100%;
  }
  .master-header {
    grid-area: mh;
    display: grid;
    grid-template-areas:
      "mht"
      "mhb";
    height: 180px;
    grid-template-rows: auto auto;
  }
  .mh-top {
    grid-area: mht;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    min-height: 40px;
  }
  .mh-top a {
    text-decoration: none;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .mh-bottom {
    grid-area: mhb;
    display: grid;
    grid-template-areas: "mhbl mhbr";
    grid-template-columns: 50% 50%;
    min-height: 140px;
    min-width: 100%;
  }
  .mh-bottom-left {
    grid-area: mhbl;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
  }
  .mh-bottom-right {
    grid-area: mhbr;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 5%;
  }
  .mh-bottom p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mh-bottom h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-bar {
    grid-area: nb;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
  }
  .nav-bar i {
    padding: 10px 0;
    border: 1px solid black;
    min-width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.75rem;
  }
  .nav-bar i:hover {
    background-color: lightgray;
    color: royalblue;
  }
  .nav-bar i:focus {
    background-color: lightgray;
    color: royalblue;
  }
  .nav-bar i:active {
    background-color: orangered;
    color: white;
  }
  .content-area {
    grid-area: ca;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
  }
  .ca-home {
    background-color: steelblue;
    min-height: 100%;
    min-width: 100%;
  }
  .ca-cards {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid purple;
    min-width: 15%;
    min-height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .standard-footer {
    grid-area: sf;
    height: 30px;
    border: 1px solid orangered;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
