*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
img {
  max-width: 100%;
  display: block;
}
ul,
ol {
  list-style: none;
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas:
      "mh mh"
      "nb ca"
      "sf sf";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 40px auto;
    height: 100dvh;
    width: 100%;
  }
  .master-header {
    grid-area: mh;
    display: grid;
    grid-template-areas:
      "mht"
      "mhb";
    height: 180px;
    grid-template-rows: auto auto;
    color: black;
  }
  .mh-top {
    grid-area: mht;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    min-height: 40px;
    box-shadow: 0 5px 10px 0 rgba(20, 20, 20, 0.3);
    z-index: 990;
  }
  .mh-top-right {
    display: flex;
    gap: 10px;
  }
  .mh-top a {
    text-decoration: none;
    color: black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .mh-top a:hover {
    color: orangered;
  }
  .mh-bottom {
    grid-area: mhb;
    display: grid;
    grid-template-areas: "mhbl mhbr";
    grid-template-columns: 50% 50%;
    min-height: 140px;
    min-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("img/nature-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 980;
    color: white;
  }
  .mh-bottom-left {
    grid-area: mhbl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
  }
  .mh-bottom-left-name {
    text-decoration: none;
    color: white;
  }
  .mh-bottom-left-name:hover {
    color: orangered;
  }
  .mh-bottom-right {
    grid-area: mhbr;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 5%;
  }
  .mh-bottom p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mh-bottom h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-bar {
    grid-area: nb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
    background: rgba(20, 20, 20);
    color: white;
  }
  .nav-bar i {
    padding: 10px 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.75rem;
  }
  .nav-bar i:hover {
    background-color: lightgray;
    color: royalblue;
  }
  .nav-bar i:focus {
    background-color: lightgray;
    color: royalblue;
  }
  .nav-bar i:active {
    background-color: orangered;
    color: white;
  }
  .content-area {
    grid-area: ca;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
  }
  .ca-home {
    background-color: steelblue;
    min-height: 100%;
    min-width: 100%;
  }
  .ca-cards {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 15%;
    min-height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    pointer-events: none;
    opacity: 0;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.8)
    );
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  /* === event css === */
  .show-ca-cards {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
  .toggle-nav-icon {
    background-color: lightgray;
    color: royalblue;
  }
  .disable-content {
    filter: brightness(75%);
  }
  /* ================= */
  .standard-footer {
    grid-area: sf;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
