body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
  display: flex;
  gap: 20px;
}

.toggle-button-container {
  background-color: white;
  width: 80px;
  height: 40px;
  border-radius: 2rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  position: relative;
  overflow: hidden;
}
.toggle-button-dot {
  background-color: white;
  width: 40px;
  height: 100%;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  z-index: 990;
}
.toggle-button-container.enabled .toggle-button-dot {
  transform: translateX(100%);
}

.toggle-button-container.enabled .toggle-button-container-background {
  transform: translateX(0%);
}

.toggle-button-container-background {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* ========================================================================= */

.check-button-container {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-button-dot {
  height: 30px;
  width: 30px;
  aspect-ratio: 1;
  --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%),
    radial-gradient(at 30% 31%, #000 29%, #0000 30%),
    conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: background-color 0.3s ease-in-out;
}
.check-button-container-enabled {
  background-color: red;
}

.drag-drop {
  border: 1px dotted black;
  height: 20%;
  width: 400px;
  display: flex;
  padding: 10px;
  gap: 5px;
}
.container {
  border: 1px dotted black;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.draggable {
  border: 1px solid black;
  margin-top: 0;
  margin-bottom: 0;
  height: 30px;
  background-color: lightgray;
}
.draggable.dragging {
  background-color: yellow;
}
