.ca-home {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.ca-home form {
  background-color: white;
  height: 100%;
  width: 100%;
}
.form-slide-card {
  background-color: white;
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "form-top"
    "form-bottom";
  grid-template-rows: 85% 15%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-85%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.form-slide-card.enable {
  transform: translateY(0%);
}
.form-top {
  grid-area: form-top;
  height: 100%;
  border: 1px solid white;
  padding: 10px;
}
.form-top-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.input-box span {
  display: block;
  padding: 5px;
  font-family: monospace;
}
.form-input-text {
  height: 30px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: 1px solid lightgray;
  border-radius: 1.5rem;
  width: 300px;
  padding: 0 10px;
}
.input-box-radio {
  display: flex;
  gap: 10px;
}
.input-box-radio-sex {
  background-color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  border-radius: 50%;
}
.input-box-radio-sex i {
  color: rgba(180, 180, 180);
  font-size: 16px;
}
.form-bottom {
  background-color: rgba(240, 240, 240);
  grid-area: form-bottom;
  height: 100%;
  border-top: 1px solid rgba(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.form-bottom div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-bottom h2 {
  font-family: monospace;
}
.form-bottom-toggle-container {
  background-color: white;
  height: 40px;
  width: 80px;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: 1px solid lightgray;
}
.form-bottom-toggle-bg {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  height: 40px;
  width: 80px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-75%);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.form-bottom-toggle-bg.enable {
  transform: translateX(0%);
}
.form-bottom-toggle-dot {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 1.5rem;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translatex(0%);
}
.form-bottom-toggle-dot.enable {
  transform: translateX(100%);
}
