.ca-home {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ca-home-form-card {
  position: relative;
  background-color: white;
  min-height: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  z-index: 990;
  transform: translateY(-80%);
  transition: transform 0.3s ease-in-out;
  display: grid;
  grid-template-areas:
    "ca-hf-top"
    "ca-hf-bottom";
  grid-template-rows: 80% 20%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
.ca-home-top {
  background-color: white;
  grid-area: ca-hf-top;
  display: flex;
}
.input-box {
  border: 1px solid black;
}
.ca-home-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 240, 240);
  grid-area: ca-hf-bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}
.ca-home-table-card {
  background-color: white;
  min-height: 100%;
  transform: translateY(-40%);
}
.ca-home-top-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ================= */
/* buttons */
/* ================= */

.btn-slides {
  font-size: 1rem;
  font-family: monospace;
  padding: 5px;
  width: 200px;
  border-radius: 0.5rem;
  border: 1px solid gray;
}
.btn-slides:hover {
  background-color: steelblue;
  color: white;
}
.btn-slides:active {
  background-color: orangered;
  color: white;
}
.ca-home-top-form {
  display: grid;
  grid-template-areas: "ca-tf-left ca-tf-right";
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.form-left {
  grid-area: ca-tf-left;
  border: 1px solid black;
}
.form-right {
  grid-area: ca-tf-right;
  border: 1px solid black;
}

/* ================= */
/* functions */
/* ================= */

.show-ca-home-form {
  transform: translateY(0);
}

/* ================= */
/* text */
/* ================= */

.ca-hb-title {
  font-family: monospace;
}
